<h1>Зарплаты</h1>

<% @salaries.each do |salary| %>

	Работник: <%= salary.worker.name %>
	<br>
	Выплачено: <%= salary.size %>
	<br>
	Дата выплаты: <%= salary.salary_date %>
	<br>	
	<p>----------------------------------------</p>
<% end %>