<h1>Виды материалов</h1>

<%= link_to "Добавить новый материал", new_material_path %>

<% @materials.each do |material| %>
	<br>
	<p>------------------------------------------------------------</p>
	Наименование: <%= material.name %>
	<br>	
	Мера: <%= material.dimension %>
	
<% end %>


